body{
    background: radial-gradient(rgb(110, 143, 181) 100%);
}
.titulo{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.center{
    text-align: center;

}
.dib1{
    background: radial-gradient(rgb(183, 197, 212) 100%);
    border: 1px solid black;
    border-radius: 30px;
    height: 400px;
    width: 100%;
}
.dib2{
    background: radial-gradient(rgb(183, 197, 212) 100%);
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    height: 50px;
    width: 90%;
    top: 10px;
    left: 20px;
}
.pf{
    font-size: 12px;
}
a{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1px;
    position: relative;
    top: 10px;
    
}